<table class="table">
    <thead>
        <tr>
        <th>Marca</th>
        <th>Línea</th>
        <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.marca }}</td>
        <td>{{ vehicle.linea }}</td>
        <td>{{ vehicle.modelo }}</td>
        </tr>
    </tbody>
</table>
<h3>Total de Vehículos por Marca</h3>
<ul>
  <li *ngFor="let brandCount of vehiclesByBrand">
    {{ brandCount.brand }}: {{ brandCount.count }}
  </li>
</ul>